<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>
<h2>Robert Freeman</h2>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <pre>
            Error page - unSupported url
            </pre>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>