<!<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>
<h2>Robert Freeman</h2>

<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <h1>Input number:
        <%= inpNumber%>
    </h1>
    <h1>Square of above input number:
        <%= resultNumber%>
    </h1>

    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>

</html>